/* Estilos de tu proyecto */
/*
background-color: #2c3e50
 #18bc9c
  #212529
*/

/*general*/
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Lato', sans-serif;    
    margin: 0;
    padding: 0;
}
.text-uppercase{
    text-transform: uppercase;
}
/*HEADER*/
header{
background-color: #2c3e50;
position: fixed;
width: 100%;
height: 120px;
z-index: 1000;
}

ul{
    margin-left: 600px;  
    text-align: center;
    margin-left: 0px;
    margin-bottom: 16px;
    padding-left: 0px;

}
nav {
margin-left: 300px;
}
h2, nav{
    display: inline-block;
    margin: 0;
    color: white;
}

h2{
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 600px;
}

li{
    display: inline-block;
    list-style: none;  
    padding: 10px;
}

li a {
    color: white;
    text-decoration: none;
    font-weight: bolder;    
}
a:hover {
color:  #18bc9c;
}

.start{
    width: 100%;
}

/*first part*/
.section{
    position: relative;
    margin-top: 150px;
    background: #18bc9c;
}

figure{
    background-color: #18bc9c; 
    height: 400px;   
    margin: 0;
    padding: 0;
   }

img {
    margin-bottom: 20px;    
    margin-left: 600px;
    margin-right: 530px;
    margin-top: 150px;    
    width: 256px;    
}

div{
    background-color: #18bc9c;
}
.start span{
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
}

h1 {
    margin-top: 0;
}

hr {
    margin-top: 0px;
    border-top-width: 4px;
    border-left-width: 01px;
    margin-bottom: 0px;
    border-bottom-width: 0px;
    border-color: white;
}
/*second part*/
.portfolio section{
background-color: white;
}

.portfolio div {
    background-color: white;
}

.portfolio p {
    margin:0;
}

.portfolio figure{
    display: inline-block;
    background-color: white;
    height: 800px;
}

.portfolio img{
    margin: 0;
    padding: 70px;
}

.portfolio h2{
    background-color: white;
    color: #2c3e50;
}
/*third part*/


/*fourth part*/
.contact {
    background-color: white;
}
.contact div{
    background-color: white;
    text-decoration: none;
}
.contact h2{
    color:   #212529;    
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 600px;
    font-weight: bolder;
}



/*footer*/
footer{
    background-color: #2c3e50;
    position: relative;    
}
footer div{
    padding: 40px;
    display: inline-block;
    background-color: #2c3e50    
}

footer h3,p{
    color: white;
}

.f-a{
text-decoration: none;
color:  #18bc9c;
}

.end{
    display: block;
}

.end p{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 250px;
    text-align: center;
}