/* Estilos de tu proyecto */

/*general*/
body{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Lato', sans-serif;    
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

/*HEADER*/
header{
  background-color: #2c3e50;
  width: 100%;
}

.backgr-header {
  background-color: #2c3e50;
}

.backgr-steel {
  background-color: #2c3e50;    
}

/*START BOOTSTRAP*/
.start{
  width: 100%;
  height: 600px;
  background: #18bc9c;
}

.start figure {
  margin: 0;
  width: 100%;
}

.start figure img {
  margin-top: 70px;
}

.fa-star {
  font-size: 30px;
  color: #ffffff;
}
  
div.line::after {
  display: inline-block;
  margin: 0 0 12px 10px;
  height: 3px;
  content: " ";
  background-color: #fff;
  width: 140px;
}
  
div.line::before {
  display: inline-block;
  margin: 0 10px 12px 0;
  height: 3px;
  content: " ";
  background-color: #fff;
  width: 140px;
}

/*PORTFOLIO*/
.steel{
  color: #2c3e50; 
}

.star-steel {
  font-size: 30px;
  color: #2c3e50;
}
  
div.line-steel::after {
  display: inline-block;
  margin: 0 0 12px 10px;
  height: 3px;
  content: " ";
  background-color: #2c3e50;
  width: 140px;
}
  
div.line-steel::before {
  display: inline-block;
  margin: 0 10px 12px 0;
  height: 3px;
  content: " ";
  background-color: #2c3e50;
  width: 140px;
}

.image-portfolio img {
  width: 300px;
  height: 256px;
  margin-bottom: 20px;   
}

/* ABOUT */
.about {
  width: 100%;
  height: 600px;
  background: #18bc9c;
}

.about h2 {
  padding-top: 50px;
}

.about span {
  display: inline-block;
}

.about button {
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 2px;
  background-color: transparent;
}

/* Footer */
footer {
  background-color: #2c3e50;  
  color: #ffffff;
}

.marg-bt0 {
  margin-bottom: 0;
}

.a-green {
  color: #18bc9c;
}

.list-inline li {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background-color: #2c3e50;    
  
}